.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.row {
    width: 100%;
}

.count{
    color: green;
    border: 1px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(226, 226, 226);
}